@use 'variables';

.footer {
  text-align: center;
  background: variables.$color-fondo;
  background: variables.$gradiante;
  color: variables.$color-blanco;
  padding: 20px 0;
  margin-top: 250px;
}
