// Colores
$color-negro: #000;
$color-blanco: #fff;
$color-gris-claro: #F5F5F6;
$color-gris-medio: #E0E0E0;
$color-gris-oscuro: #D3D3D3;

// Tamaños
$border-radius-base: 10px;
$border-radius-card: 15px;
$ancho-card: 300px;
